In [1]:
import nltk, random
from nltk.corpus import names

In [2]:
def attributes(word):
    return {
        'last_char': word[-1],
    }

In [3]:
tagset = [{'word': word, 'genre': 'male'} for word in names.words('male.txt')]
tagset += [{'word': word, 'genre': 'female'} for word in names.words('female.txt')]

In [4]:
random.seed(43)
random.shuffle(tagset)

In [6]:
import pandas as pd
import numpy as np

In [64]:
df = pd.DataFrame(tagset)
df['last_char'] = df.apply({'word': lambda x: attributes(x)}, raw=True, result_type='expand')
df

              word   genre           last_char
0             Doro  female  {'last_char': 'o'}
1         Anallese  female  {'last_char': 'e'}
2          Phillip    male  {'last_char': 'p'}
3             Alaa    male  {'last_char': 'a'}
4     Christabella  female  {'last_char': 'a'}
...            ...     ...                 ...
7939       Hillard    male  {'last_char': 'd'}
7940       Margret  female  {'last_char': 't'}
7941          Kial  female  {'last_char': 'l'}
7942      Sheridan    male  {'last_char': 'n'}
7943         Bjorn    male  {'last_char': 'n'}

[7944 rows x 3 columns]

In [65]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size=0.9, random_state=43)

In [67]:
classifier = nltk.NaiveBayesClassifier.train(train.iloc[:,[-1,-2]].values.tolist())

In [72]:
classifier.classify(attributes('amanda'))

'female'